@keyframes openReightbar {
    0%   {right: -100%;}
   
 
    50%  {right: -50%;}
    
    100%  {right: 0%;}
   
  }

  @keyframes closeReightbar {
    0%   {right: 0%;}
    
    
    50%  {right: -50%;}
     
     
    100%  {right: -100%;}
   
  }

.rightbar{
    position: absolute;
    top: 10%;
    width: 400px;
    height: 100vh;
    right: -100%;
    border-radius: -100%;
    background-color: var(--sidebar);
   
   transition-timing-function: ease;
    animation-duration:  1s;
 
     
}

.openReightbar {
    animation-name: openReightbar;
    right: 0%;

}

.closeReightbar {
    animation-name:closeReightbar ;

}